/* 
header{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;

  z-index: 5;
} */

/* header h1 img{
  display: block;
  position: relative; 
  top:50%;
  transform: translateY(-50%);
} */
/* 
header a{
  font-size: 0.9rem;
  font-family: "GmarketSans_M";
  font-weight: bold;
}
header .container{
  padding: 0 10px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gnb{
  display:flex;
  line-height: 100px;
}
.gnb li{
  display:flex;
  font-size: 0.9rem;
  margin-left: 32px;
}
header .main-navigation a{
  margin-left: 32px;
  color:#222
} */
/* header .main-navigation a.active{
  border-bottom: 2px solid #222;
} */
/* header .logo img{
  width: 100%;
} */
.hero-bg{
  position: relative;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 16 / 9; 
  /* 16:9 비율 지정 */
}


.hero-bg .text-wrap{
 position: absolute;
 z-index: 1;
 top:350px;
 left:447px;
}
.hero-bg .text-wrap .txt1{
  font-size: 1.7rem;
  font-family: "Gloss_And_Bloom";
}
.hero-bg .text-wrap .txt2{
  font-family: "GmarketSans_M";
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 2.8rem;
}
.hero-bg .text-wrap .txt3{
  font-family: "GmarketSans_M";
}
.video-wrap{
  position:absolute;
  width: 100%;

  z-index: 1;
}
.video-wrap video,
.video-wrap img{
  position: absolute;
  display: block;
  width: 100%;
  
} 

/* .toggleBtn{
  position:absolute;
  top:1.2rem;
  right:1.5rem;
  color:var(--accent-color);
  cursor:pointer;
  font-size:1.2rem;
  display:none;
} */
/* slick */

/*new*/
#new{
  width: 100%;
max-width: 1200px;
  margin: auto;
}
#new .title{
  background: url(../img/txt_bg.png) center no-repeat;
  background-position: top;
  background-size:contain;
  margin: auto;
  text-align: center;
  margin:100px 0px;
}
#new .title .txt1{
 font-family: "Montserrat-Bold";
 font-size: 2.4rem;
 color: #2b2b2b;
 margin-bottom: 0.8rem;

 
}
#new .title .txt2{
  font-family: "GmarketSans_M";
  font-size: 1.1rem;
}

/* .slider-wrap{width: 100%;} */
.slick{
  width: 100%;
  max-width: 1200px;
  padding: 0px 0.5rem;
  margin: auto;
  display: flex;
  position: relative;
  overflow:hidden;

}

.slick-dots {
position: static !important;
margin-top: 20px !important;

}
.slick-dots li{
  width: 22px !important;
  height: 22px !important;
}
.slick .cons{
  padding:0 0.6rem;
}
/* .slick .cont:last-child{
  padding: 0;
} */
.slick .list1{
  width: 23.4745763%;
}
.slick .list1 .img_L{
  width: 100%;
  background-color: #eaeaea;
}
.slick .list1 .img_L img{
  width: 100%;
  
}
.slick .txt_L{
  width: 100%;
  background-color: #f8f8f8;
  overflow: hidden;
}
.slick .txt1_L,
.slick .txt2_L{
  text-align: center;
}
.slick .txt1_L{
  font-family: "SpoqaHanSansNeo_R";
  font-weight: bold;
  color: #2b2b2b;
  font-size: 1.2rem;
  padding-top: 1.5rem;
  padding-bottom: 0.7rem;
}
.slick .txt2_L{
  font-family: "SpoqaHanSansNeo_R";
  font-weight: bold;
  font-size: 0.8rem;
  color: #4b4b4b;
  padding-bottom: 1.5rem;
}
.slick .txt3_L,
.slick .txt4_L{
  line-height: 1.8rem;
  padding-left: 0.7rem;
  font-weight: bold;
  color: #6b6b6b;
  font-size: 0.9rem;
}

.slick .txt3_L>b,
.slick .txt4_L>b{
  color: #2b2b2b;
}

.slick .txt4_L{
  padding-bottom:0.5rem;
}
.slick .txt_L hr{
  width: 100%;
 
}
.slick .txt_L .hr1{
  background-color:#2a2a2a;
  height: 2px;
}
.slick .txt_L .hr2{
  background-color: #b5b5b5;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 30px !important;
  opacity: .25;
  color: rgb(180, 106, 118) !important;
}

/*best*/
#best_P{
  width: 100%;
max-width: 1200px;
  margin: auto;
}
#best_P .title{
  background: url(../img/txt_bg.png) center no-repeat;
  background-position: top;
  background-size:contain;
  margin: auto;
  text-align: center;
  margin:100px 0px;
}
#best_P .title .txt1{
 font-family: "Montserrat-Bold";
 font-size: 2.4rem;
 color: #2b2b2b;
 margin-bottom: 0.8rem;
}
#best_P .title .txt2{
  font-family: "GmarketSans_M";
  font-size: 1.1rem;
}

/* Spotlight */
.wraps {
  /* padding: 6rem 0 4rem 0 ; */
}
.wraps.alt {
  padding: 0;
}
.spotlight {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  display: flex;
  margin-bottom: 7.5rem;
}

.spotlight .cont{
padding-left: 18.5rem;
}

.spotlight .content h2 img{
  width: 17rem;
 }
 .spotlight .conten h2 img{
  width: 17rem;
 }
 .spotlight .more{
  padding-top: 1rem;
 }

  .spotlight .image {

    border-radius: 0;
    /* width: 50%; */
  }
  .spotlight .image:nth-child(2){
    padding-left: 10rem;
  }

    .spotlight .image img {
      border-radius: 0;
      width: 100%;
    }

  .spotlight .content {
    /* padding: 2em 4em 0.1em 4em ; */
  padding-left: 18.5rem;
    /* max-width: 48em; */
    width: 50%;
  }

  
  .spotlight .conten {
    /* padding: 2em 4em 0.1em 4em ; */
  padding-left: 18.5rem;
    /* max-width: 48em; */
    width: 50%;
  }

  .spotlight .conten{
    /* width: 50%; */
    padding-left: 1rem;
    padding-right: 18.5rem;
  }
  .spotlight .b_txt1{
    font-family:"GmarketSans_M";
    font-size: 1.1rem;
    margin: 0.6rem 0;
    }
  .spotlight  .b_txt2{
      font-size: 1rem;
      margin-bottom: 2.5rem;
      font-family: "SpoqaHanSansNeo_R";}
       

  .spotlight:nth-child(odd) {

    flex-direction: row-reverse;
  }
	.spotlight .image {
		border-radius: 3px;
		border: 0;
		display: inline-block;
		position: relative;
    /* width: 100%; */

  
	}

		.spotlight .image img {
      /* width: 100%; */
			border-radius: 3px;
			display: block;
      /* width: 70%; */
		}

    .spotlight  .detail{
      width: 100%;
      display: flex;
      justify-content: space-between;
     
    
    }
    .spotlight .cont .detail>img{
    width: 32%;
    }
    .spotlight .conten .detail>img{
      width: 32%;
      }
    /* contents */
    #contents {
   /* height: 100%;  */
   position: relative;
    }
    #contents .bg{
      /* height: 100vh; */
      width: 100%;
      /* height: 204.21875vw; */
      /* height:100%; */
      /* padding-bottom: 0; */
      background: url(../img/bg_full.png) no-repeat;
      position: absolute;
      /* background-size: cover; */
      /* padding-top:calc(3921/1920*100%) ; */
      /* padding-bottom: calc(3921/1920*100%); */


    
    }

    /* about */
#about{
width: 100%;
max-width: 1200px;
margin: auto;
}
#about .title{
  background: url(../img/txt_bg.png) center no-repeat;
  background-position: top;
  background-size:contain;
  margin: auto;
  text-align: center;
  margin:100px 0px;
}
#about .title .txt1{
 font-family: "Montserrat-Bold";
 font-size: 2.4rem;
 color: #2b2b2b;
 margin-bottom: 0.8rem;
}
#about .title .txt2{
  font-family: "GmarketSans_M";
  font-size: 1.1rem;
}


img {
  vertical-align: top;
}

/* body {
  background-color: #111;
  font-family: 'arial';
  line-height: 1.45;
  color: #999;
} */


.wrapper {
 
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
/* .wrapper ul{
  padding-left: 0 !important;
} */

/* .title {
  width: max-content;
  letter-spacing: 0.4em;
  margin: 30px 0;
  position: relative;
  font-size: 30px;
  transition: all .4s;
} */

/* .title:hover {
  color: white;
} */

/* .title:before {
  content: ' ';
  background-color: currentColor;
  transition: margin .4s;
  position: absolute;
  left: 0;
  right: 0;
  margin-right: 0.4em;
  bottom: -0.2em;
  height: 0.2em;
} */

.wrappers {
 
width: 100%;
max-width: 1200px;
margin: 0 auto;
padding: 0px 0.5rem;
overflow: hidden;}

.wrappers ul{
  padding-left: 0;
}
.lush{
  width: 100%;
  background-color: #111;
   overflow: hidden;
  display: flex;

}

/* .lush-item {
  background-color: #111;
  width: 33.3333333%;

  overflow: hidden;
  transition: all .4s;
  display: flex;

  position: relative;
  opacity: 0.4;
} */
.lush-item {
  background-color: #111;
  /* width: 33.3333333%; */
width: 25%;
  overflow: hidden;
  transition: all .4s;
  display: flex;
  position: relative;
  opacity: 0.4;
  flex:1; /* 모두 같은 너비로 지정 */
}

.lush-item-cover {
  flex-shrink: 0;
}
.lush-item.active{ /* active가 있는 요소는 기본 너비가 넓게 나타나도록 */
  flex:2;
  opacity: 1;
}   
.lush-item.active .lush-item-contents
   {  
    opacity: 1;
  }

/* .lush:hover .lush-item {
  width: 25%;
}

.lush .lush-item:hover {
  width: 50%;
  opacity: 1;
} */
/* .lush .lush-item:hover .lush-item-contents {

  opacity: 1;
} */
.lush-item-contents {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.7);
  margin: 1rem;
  padding: 1rem;
  overflow: hidden;
  opacity: 0; 
  transition: all .4s;
  

}

.lush-item-contents .l_text1 {
  font-family: "Gloss_And_Bloom";
  font-weight: bold;
  font-size: 0.8rem;
  
}
.lush-item-contents .l_text2{
  font-family:"GmarketSans_B";
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.lush-item-contents p {
  width: auto;
  color: #373636;

 
}

/* lush_I */
.lush_I{
  max-width: 1200px;
  margin: auto;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
 
}
.lush_I img{
  
  width: 100%;
}

/* #gift */
#gift{
  width: 100%;
max-width: 1200px;
  margin: auto;
}
#gift .title{
  background: url(../img/txt_bg.png) center no-repeat;
  background-position: top;
  background-size:contain;
  margin: auto;
  text-align: center;
  margin:100px 0px;
}
#gift .title .txt1{
 font-family: "Montserrat-Bold";
 font-size: 2.4rem;
 color: #2b2b2b;
 margin-bottom: 0.8rem;
}
#gift .title .txt2{
  font-family: "GmarketSans_M";
  font-size: 1.1rem;
}

/* gift_I */
.gift_I{
  max-width: 1200px;
  padding: 0 0.5rem;
  margin: auto;
}
.gift_I .gift_Ii{
  width: 100%;
}
.gift_I .gift_Ii img{
  width: 100%;
}

/* #event */
#event{
  width: 100%;
max-width: 1200px;
  margin: auto;
}
#event .title{
  background: url(../img/txt_bg.png) center no-repeat;
  background-position: top;
  background-size:contain;
  margin: auto;
  text-align: center;
  margin:100px 0px;
}
#event .title .txt1{
 font-family: "Montserrat-Bold";
 font-size: 2.4rem;
 color: #2b2b2b;
 margin-bottom: 0.8rem;
}
#event .title .txt2{
  font-family: "GmarketSans_M";
  font-size: 1.1rem;
}

/* event_b*/
.event_b{
  max-width: 1200px;
  /* padding: 0 0.5rem; */
  margin: 0 auto 5.8rem;
}
.event_b  .card{

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.event_b .box{
  width:33.3333%;
  padding:12px;
}

.event_b .box2{
  background-color: #fff;
  padding: 0.7rem;
}

.event_b .box img{width:100%; display:block;}

.event_b .box .txt{
  border:2px solid var(--gray);
  border-top:none;
  padding:var(--padding-mc);
}
.event_b h2{
  font-family: "GmarketSans_B";
  font-size:1.2rem;
  margin:1.5rem 0;
}
.event_b p{
  font-family: "SpoqaHanSansNeo_R";
  font-size:0.9rem;
margin-bottom: 3.5rem;}


.lush_Ip{
  max-width: 1200px;
  padding: 0 0.5rem;
  margin: auto;
  text-align: center;
}
.lush_Ip hr{
  width: 20px;
  background-color: #222;
  margin: 0 auto 1.5rem;
}
.lush_Ip .lush_text1{
  font-size: 2.4rem;
  font-family: "Gloss_And_Bloom";
  margin-bottom: 1.3rem;
}
.lush_Ip .lush_text2{
  font-size: 1rem;
  margin-bottom: 0.8rem;
}
.lush_Ip input[type=text]{
  width: 19.1rem;
  height: 1.7rem;
  border-radius: 0.85rem;
  background-color: transparent;
  /* letter-spacing: 2rem; */
  padding:0 2rem;
  margin-bottom: 7rem;

}
    /* footer */
  footer{
    
    width: 100%;

    object-fit: cover;
    font-family: "GmarketSans_M";
    background: url(../img/footer.png) no-repeat;

    }
  
    footer > .wrap_F{
    
      max-width:1200px;
      margin:auto;
      color:#2b2b2b;
      padding:0 0.5rem;
      display:flex;
      text-align: center;
      justify-content: space-between; 
      flex-wrap: wrap;

    }
    footer .menu{
      width:100%;
      display:flex;
      justify-content: space-between;
      line-height:1.17rem;
      font-size: 0.8rem;
      text-align: center;
      padding-top: 5rem;
      /* 5rem */
    }
    footer .menu .st{
      font-family: "GmarketSans_B";
      font-size: 1.1rem;
      margin-bottom: 1.4rem;
    }

    footer .sns_I{
      max-width: 1200px;
      width: 100%;
    }
    footer .icon{
      max-width: 31.5rem;;
    
      margin:5rem auto 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

    }
    footer .icon a{
      margin-right:var(--padding-mc);
      font-size:1.6rem;
    }
    footer .author{
      width: 100%;
      max-width:1200px;
      margin:2.5rem auto 0;
      border-top:2px solid #2b2b2b;
      padding:2rem 0;
      text-align: center;
      color:#2b2b2b;
      font-size: 0.7rem;
    }

  
  @media screen and (max-width: 1280px) {
    /* a{
      font-size: 0.7rem;
      font-family: "GmarketSans_M";
      font-weight: bold;
    } */
    /* header .container{
      padding: 0 10px;
     max-width: 1000px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    } */

    /* .gnb li{
      display:flex;
      font-size: 0.8rem;
      margin-left: 32px;
    }
    header .main-navigation a{
      margin-left: 32px;
      color:#222
    } */

    .spotlight .image {
      width: 45%;
    }

    .spotlight .content {
      width: 55%;
    }
    .spotlight .conten {
      width: 55%;
    }
    .spotlight .cont{
      padding-left: 10rem;
      }
      .spotlight .conten{
        padding-right: 10rem;
      }

      .slick{
        max-width: 980px;
       
      }
     
  }

  @media screen and (max-width: 980px) {
    html{font-size: 18px;}

/*     
    header .container{
      padding: 0 30px;
      max-width: 1200px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    } */
    
    .slick{
      max-width: 860px;
     
    }

    .spotlight {
      display: block;
    }

      .spotlight br {
        display: none;
      }

      .spotlight .image {
        width: 90%;
        padding-left: 4rem;
        margin: auto;
      }
      .spotlight .image img{
        margin: auto;
      }

      .spotlight .content {
        padding:0em 3rem 2rem 3rem ;
        max-width: none;
        text-align: center;
        width: 74%;
        margin: auto;
      }
      
      .spotlight .conten {
        padding:0em 3rem 2rem 3rem ;
        max-width: none;
        text-align: center;
        width: 60%;
        margin: auto;
      }
      .spotlight .conten {
      
       padding: 0;
      }
      .gnb li{
        display:flex;
        font-size: 0.9rem;
        margin-left: 24px;
      }
      .spotlight .conten .detail>img{
        width: 32%;
        }

      
        footer .menu{
          width:90%;
          margin: auto;
      
        }

        footer .author{
          width: 90%;
      
        }
  }
 

  @media screen and (max-width: 768px) {

    html{font-size: 16px;}
    /* .spotlight .content {
      padding: 0em 2em 1em 2em ;
    }
    header{display: block;
      background-color: rgba(255 , 255, 255, 0.8)
    }
    header .container{ */
      /* max-width:600px; */
/*       
      margin-top: 3.2rem;
      flex-direction:column; */
      /*정렬 방향을 세로방향으로 변경*/
      /* align-items:flex-start;
    } */
    .slick{
     max-width: 700px;;
     
    }
  .gnb{
 
      flex-direction: column;
      width:100%;
      text-align: center;
      display:none;   
      line-height: 2.8rem;
    }
   .gnb li{
    display: block;
    font-size: 0.8rem;
      text-align: center;
      margin: 0;
      padding:0px 0px;
   color:#222;
    }
/* header .logo{
    position: absolute;
    top:0.9rem;
    left: 2rem;
    cursor:pointer;
    font-size:1.2rem;
   margin-bottom: 1.2rem;
 } */
 .toggleBtn{
  position:absolute;
  top:1.15rem;
  right:2rem;
  color:var(--accent-color);
  cursor:pointer;
  font-size:1.1rem;
  display:none;
}
 /* header .logo img{
  width:60%;}
 
    .gnb .logo a{display: block;} */
 



/* header .main-navigation a{
  margin-left: 32px;
  color:#222
} */
    /* .gnb{
      display:flex;
      line-height: 100px;
    }
    .gnb li{
      display:flex;
      font-size: 0.9rem;
      margin-left: 32px;
    } */

    /* header .gnb li:hover{
      background-color:lightcoral;
    color: #fff;
  font-weight: bold;}
  header .gnb li:nth-child(6),
  header .gnb li:nth-child(7),
  header .gnb li:nth-child(8){
    display: none;
  }
    header .toggleBtn{display:block;}
    header .gnb.active{display:flex;} */


    /* wrappers */
    .wrappers {
 
      width: 100%;
      max-height: 600px;
      max-width: none;
      margin: 0 auto;
      padding: 0px 0.5rem;
      overflow: hidden;
      display:flex;
      flex-direction:column;
      height:100vh;}
      
      .wrappers ul{
        padding-left: 0;
      }
      .lush{
        width: 100%;
        /* height:100vh; */
        background-color: #111;
         overflow: hidden;
        display: flex;
        flex-direction: column;
        /* display: block; */
      
      }
      
      .lush-item {
        background-color: #111;
        /* width: 33.3333333%; */
    
        transition: all .4s;
        display: flex;
        flex-direction: column;
      
        position: relative;
        opacity: 0.4;


        height:40%;
        width:100%;
        padding:0;
        overflow:hidden;
      }
      
      /* .lush-item.cookie { color: orangered; }
      .lush-item.cake   { color: pink; }
      .lush-item.crepe  { color: yellow; } */
      
      .lush-item-cover {
        flex-shrink:0;
      }
      
      .lush:hover .lush-item {
        width: 100%;
        height: 25%;
      }
      
      .lush .lush-item:hover {
       height: 50%;
        opacity: 1;
      }
      .lush .lush-item:hover .lush-item-contents {
      
        opacity: 1;
      }
      .lush-item-contents {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255,255,255,0.7);
        margin: 1rem;
        padding: 1rem;
        overflow: hidden;
        opacity: 0;
      }
      
      .lush-item-contents .l_text1 {
        margin-bottom: 10px;
      }
      
      .lush-item-contents p {
        width:422px;
      }

      /* event */
    .event_b .box{width:50%;}
  
  

  .event_b p{
    font-family: "SpoqaHanSansNeo_R";
    font-size:0.9rem;
  margin-bottom: 3.5rem;
letter-spacing: -0.09rem;
line-height: 1.4;}
  
  footer .sns_I{

    width: 70%;
    margin: auto;
  }
  footer .icon a{
  
    font-size:1.4rem;
  }


 /* lush_I */
.lush_I{
  max-width: 768px;
  margin: auto;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
 
}
.lush_I img{
  
  width: 80%;
  text-align: center;
}

  }
  
  @media screen and (max-width: 480px) {
    html{font-size: 14px;}
    /* .slick{
      max-width: 480px;
     } */
     /* .event_b .box{width:100%;}
    } */
    
 /* lush_I */
.lush_I{
 display: none;}
  

  /* title */
  #new .title{

    margin:60px 0px;
  }
  #best_P .title{

    margin:60px 0px;
  }
  #contents .title{

    margin:60px 0px;
  }
  #gift .title{

    margin:60px 0px;
  }
  #event .title{

    margin:60px 0px;
  }
}

@media screen and (max-width: 420px) {
   /* .slick{
      max-width: 380px;

      
     } */

     .spotlight {
      margin-bottom: 5rem;
  }
      .event_b .box{width:100%;}
      /* footer */
  footer{
    
    width: 100%;

    object-fit: cover;
    font-family: "GmarketSans_M";
    background: url(../img/footer.png) no-repeat;

    }
  
    footer > .wrap_F{
    
      max-width:1200px;
      margin:auto;
      color:#2b2b2b;
      padding:0 0.5rem;
      display:flex;
      text-align: center;
      justify-content: space-between; 
      flex-wrap: wrap;

    }
    footer .menu{
      width:100%;
      display:flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      line-height:1.17rem;
      font-size: 0.8rem;
      text-align: center;
      padding-top: 5rem;
    }
    footer .menu ul{

      width: 100%;
      text-align: center;
      margin: 0;
 
    }
    footer .menu li{
      display: none;
      margin: auto;
      width: 100%;
      text-align: center;
      padding:0.5rem 0;
    }
    footer .menu li a{
      display: block;
      width: 100%;
 
    }
    footer .menu .st{
      font-family: "GmarketSans_B";
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
      display: flex;
      width: 100%;
      border: 1px solid #2b2b2b;

    }
    footer .menu li:hover{
      background-color: #aadbcb;
    }
    

    footer .sns_I{
  
      width: 80%;
    }
    footer .icon{
  
      margin:2rem auto 0;
    

    }
    footer .icon a{
      font-size:1.4rem;
    }
    footer .author{
      width: 100%;

      margin:2rem auto 0;
      border-top:2px solid #2b2b2b;
      padding:2rem 0;
      text-align: center;
      color:#2b2b2b;
      font-size: 0.7rem;
    }
}
  @media screen and (max-width: 375px) {

    /* .slick{
      max-width: 380px;

      
     } */

     .spotlight {
      margin-bottom: 5rem;
  }
      .event_b .box{width:100%;}
      /* footer */
  footer{
    
    width: 100%;

    object-fit: cover;
    font-family: "GmarketSans_M";
    background: url(../img/footer.png) no-repeat;

    }
  
    footer > .wrap_F{
    
      max-width:1200px;
      margin:auto;
      color:#2b2b2b;
      padding:0 0.5rem;
      display:flex;
      text-align: center;
      justify-content: space-between; 
      flex-wrap: wrap;

    }
    footer .menu{
      width:100%;
      display:flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      line-height:1.17rem;
      font-size: 0.8rem;
      text-align: center;
      padding-top: 5rem;
    }
    footer .menu ul{

      width: 100%;
      text-align: center;
      margin: 0;
 
    }
    footer .menu li{
      display: none;
      margin: auto;
      width: 100%;
      text-align: center;
      padding:0.5rem 0;
    }
    footer .menu li a{
      display: block;
      width: 100%;
 
    }
    footer .menu .st{
      font-family: "GmarketSans_B";
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
      display: flex;
      width: 100%;
      border: 1px solid #2b2b2b;

    }
    footer .menu li:hover{
      background-color: #aadbcb;
    }
    

    footer .sns_I{
  
      width: 80%;
    }
    footer .icon{
  
      margin:2rem auto 0;
    

    }
    footer .icon a{
      font-size:1.4rem;
    }
    footer .author{
      width: 100%;

      margin:2rem auto 0;
      border-top:2px solid #2b2b2b;
      padding:2rem 0;
      text-align: center;
      color:#2b2b2b;
      font-size: 0.7rem;
    }

  }
